<div class="contacto">
    <div>
        <h2>Contacto rapido</h2>
        <form action="" method="" class="form">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="" id="">
            </p>
            <p>
                <label for="">Mail</label>
                <input type="email" name="" id="">
            </p>
            <p>
                <label for="">Telefono</label>
                <input type="text" name="" id="">
            </p>
            <p>
                <label for="">Mensaje</label>
                <textarea name="" id=""></textarea>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
    </div>
    <div class="datos">
        <h2>Otras vias de comunicacion</h2>
        <p>Tambien puede contactarnos usando los siguientes datos</p>
        <ul>
            <li>Telefono</li>
            <li>Mail</li>
            <li>Facebook</li>
            <li>Skype</li>
            <li>Twitter</li>
        </ul>
    </div>
</div>