<div class="contacto">
    <div>
        <h2>Contacto rapido</h2>
        <form action="/contacto" method="post" class="form">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="">
            </p>
            <p>
                <label for="">Email</label>
                <input type="email" name="email" id="">
            </p>
            <p>
                <label for="">Telefono</label>
                <input type="text" name="tel" id="">
            </p>
            <p>
                <label for="">Mensaje</label>
                <textarea name="comentarios" id=""></textarea>
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form>
        {{message}}
    </div>
    <div class="datos">
        <h2>Otras vias de comunicacion</h2>
        <p>Tambien puede contactarnos usando los siguientes datos</p>
        <ul>
            <li>Telefono</li>
            <li>Mail</li>
            <li>Facebook</li>
            <li>Skype</li>
            <li>Twitter</li>
        </ul>
    </div>
</div>