 <div>
            <img src="images/home/img01.jpg" alt="avion">
        </div>
        <div class="columnas">
            <section class="bienvenidos">
                    <h2>Bienvenidos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ducimus laborum adipisci, illo ipsum vel temporibus omnis distinctio cum quasi, repudiandae minima est architecto! Omnis alias nam minima non nisi.</p>
            </section>
            <section class="testimonios">
                    <h2>Testimonios</h2>
                    <div class="testimonio">
                        <span class="cita">Simplemente excelente</span>
                        <span class="autor">Juan Gomez - zapatos.com</span>
                    </div>
            </section>
        </div>
