  <section class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda ipsum illum autem praesentium sit
                nemo. Vel eligendi soluta perferendis temporibus quas velit tempore fugit dolorum doloremque. Aliquam,
                sint at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deleniti in eius vel impedit
                totam sunt facilis vero enim id dolorum! Ea necessitatibus libero praesentium, repellendus minus
                possimus dolor ut?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda ipsum illum autem praesentium sit
                nemo. Vel eligendi soluta perferendis temporibus quas velit tempore fugit dolorum doloremque. Aliquam,
                sint at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, deleniti in eius vel impedit
                totam sunt facilis vero enim id dolorum! Ea necessitatibus libero praesentium, repellendus minus
                possimus dolor ut?</p>
        </section>
        <section class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Perez">
                    <h5>Juan Perez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta cum cumque expedita nobis ratione. Dolores corrupti, recusandae dolor culpa expedita reiciendis maiores sed voluptatem ab possimus sequi! Molestias, tenetur.</p>
                </div>
                <div class="persona"><img src="images/nosotros/nosotros2.jpg" alt="Juan Perez">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta cum cumque expedita nobis ratione. Dolores corrupti, recusandae dolor culpa expedita reiciendis maiores sed voluptatem ab possimus sequi! Molestias, tenetur.</p></div>
                <div class="persona"><img src="images/nosotros/nosotros3.jpg" alt="Juan Perez">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta cum cumque expedita nobis ratione. Dolores corrupti, recusandae dolor culpa expedita reiciendis maiores sed voluptatem ab possimus sequi! Molestias, tenetur.</p></div>
                <div class="persona"><img src="images/nosotros/nosotros4.jpg" alt="Juan Perez">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta cum cumque expedita nobis ratione. Dolores corrupti, recusandae dolor culpa expedita reiciendis maiores sed voluptatem ab possimus sequi! Molestias, tenetur.</p></div>
                <div class="persona"><img src="images/nosotros/nosotros5.jpg" alt="Juan Perez">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia soluta cum cumque expedita nobis ratione. Dolores corrupti, recusandae dolor culpa expedita reiciendis maiores sed voluptatem ab possimus sequi! Molestias, tenetur.</p></div>
            </div>
        </section>