 <h2>Novedades</h2>
       <div>
           <h3>Titulo</h3>
           <h4>Subtitulo</h4>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, hic cupiditate, laboriosam animi sed unde repellendus optio totam in voluptate consectetur delectus temporibus iusto distinctio quisquam possimus ducimus qui! Tempora.</p>
           <hr>
       </div>
       <div>
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, hic cupiditate, laboriosam animi sed unde repellendus optio totam in voluptate consectetur delectus temporibus iusto distinctio quisquam possimus ducimus qui! Tempora.</p>
        <hr>
    </div>
    <div>
        <h3>Titulo</h3>
        <h4>Subtitulo</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, hic cupiditate, laboriosam animi sed unde repellendus optio totam in voluptate consectetur delectus temporibus iusto distinctio quisquam possimus ducimus qui! Tempora.</p>
        <hr>
    </div>